@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: inherit;
}

/* Slightly lighten or darken a color
@access public
@param {Color} $color - color to tint or darken
@param {Number} $percentage - percentage of `$color` in returned color
@return {Color} */
*,
body {
  font-size: 1rem;
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

.restaurants .rest--card {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
  border-radius: 10px;
  margin-bottom: 1rem;
  box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, 0.199);
}
.restaurants .rest--card__new--rest {
  position: absolute;
  right: 1%;
  top: 5%;
  color: black;
  padding: 5px 5px 5px 5px;
  background-color: #98e2cf;
}
.restaurants .rest--card__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}
.restaurants .rest--card__imgcontainer {
  position: relative;
  overflow: hidden;
  height: 100%;
  max-height: 150px;
}
.restaurants .rest--card__desc {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.restaurants .rest--card__fig {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fav--heart {
  display: flex;
  position: relative;
  cursor: pointer;
}

.heart--full svg * {
  fill: url(#lgrad);
}

.heart--full {
  opacity: 0;
  transition: opacity 0.6s;
}

.heart--empty {
  transition: opacity 0.2s;
  color: #ff7ad9;
}

.index__heart {
  position: absolute;
  left: -3rem;
  top: 1rem;
}

.menu--list__heart {
  position: absolute;
  left: -3rem;
  top: -1rem;
}

.fav--heart:hover .heart--empty {
  opacity: 0;
}

.fav--heart:hover .heart--full {
  opacity: 1;
  animation: boom3x 200ms cubic-bezier(0.39, 0.575, 0.565, 1) 50ms 3 both;
}

@keyframes boom3x {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
.rest--card__new--rest {
  animation: blink 1.5s ease-in-out reverse infinite;
}

@keyframes blink {
  to {
    opacity: 0.3;
  }
}
@keyframes fade--out {
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes bounce {
  to {
    width: 1rem;
    height: 1rem;
    transform: translate3d(0, -16px, 0);
  }
}
@keyframes crunch {
  50% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    width: 4.8rem;
    opacity: 0;
  }
}
/*Trigger des animations 
** Elargissement de la boite checkbox
**animation checkin qui est l'état permettant le retour de de la checkbox icon
**Animation checkout qui est la réaction au Hover */
.card:hover .checkbox {
  width: 100px;
}

.card .custom-checkbox-icon {
  animation: checkin 0.4s ease-in-out both;
}

.card:hover .custom-checkbox-icon {
  animation: checkout 0.4s ease-in-out both;
}

/* Double état associés à l'animation pour avoir un effet hover et un retour statique */
@keyframes checkin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
@keyframes checkout {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* Check in and out de la commande client */
checkbox .custom-checkbox:checked ~ .custom-checkbox-icon {
  background-color: #ffffff;
}

.checkbox .custom-checkbox:checked ~ .custom-checkbox-icon::before {
  color: #9256dc;
}

.hero__btn {
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
  border: none;
  background: linear-gradient(180deg, #ff7ad9 0%, #9256dc 100%);
  margin-bottom: 1rem;
}
.hero__btn:visited {
  color: white;
}
.hero__btn:hover {
  background: linear-gradient(180deg, #9256dc 0%, #ff7ad9 100%);
}

.guide__list {
  counter-reset: li;
  list-style-type: none;
}
.guide__list__step {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background-color: #f2f2f2;
  position: relative;
  padding: 20px 0 20px 30px;
  border-radius: 10px;
  width: 80vw;
  box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, 0.199);
}
.guide__list__step:before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: counter(li);
  counter-increment: li;
  color: white;
  font-size: small;
  height: 20px;
  width: 20px;
  background-color: #9256dc;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  left: -10px;
}
.guide__list__step__desc {
  font-size: normal;
  margin: auto;
}
.guide__list__step__icon {
  color: #666666;
}

.front--load {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  z-index: 100;
  animation: fade--out 3s forwards;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.loader {
  display: grid;
  width: 21rem;
  height: 7rem;
}

.loading--icons {
  color: black;
  font-family: "Shrikhand", cursive;
  font-size: 2.5rem;
}

.loading--icons::after {
  content: "🍣";
  display: inline-block;
  color: #9356dc;
  overflow: hidden;
  padding-left: 10px;
  padding-bottom: 10px;
  vertical-align: middle;
  font-weight: 900;
  width: 0;
  animation: crunch steps(60, end) 3s infinite;
}

.loading--balls {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.loading--balls > span {
  display: inline-block;
  background-color: #9356dc;
  width: 0;
  height: 0;
  border-radius: 50%;
  margin: 0 8px;
  transform: translate3d(0);
  animation: bounce 0.6s infinite alternate;
}

.loading--balls > span:nth-child(2) {
  background-color: #ff79da;
  animation-delay: 0.2s;
}

.loading--balls > span:nth-child(3) {
  background-color: #99e2d0;
  animation-delay: 0.4s;
}

.header {
  width: 100%;
}
.header:after {
  content: "";
  display: block;
  width: auto;
  border-bottom: 3px solid silver;
  padding-bottom: 0.5rem;
}
.header__logo {
  display: flex;
  justify-content: center;
  width: auto;
  height: 2rem;
}
.header__logo img {
  object-fit: cover;
}

.geoloc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  background-color: #d9d9d9;
}
.geoloc__icon {
  margin-right: 0.5rem;
}

.hero {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  padding-top: 1rem;
}
.hero__title {
  text-align: center;
}
.hero__sub {
  text-align: center;
  font-size: smaller;
}
.hero__btn {
  margin-top: 1rem;
  align-self: center;
  font-size: smaller;
}

.guide {
  display: flex;
  margin-bottom: 2rem;
}
.guide__container {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.guide__title {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.restaurants {
  background-color: #f2f2f2;
  padding: 1rem;
}
.restaurants__title {
  padding-bottom: 1.2rem;
}
.restaurants__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
}
.restaurants .container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
}

.footer {
  display: flex;
  background-color: #1a1a1a;
  padding: 1.2rem;
  color: white;
}
.footer__title {
  font-family: "shrikhand";
}
.footer__icon {
  padding-right: 0.5rem;
  font-size: x-large;
}
.footer__list {
  margin-top: 0.8rem;
  list-style-type: none;
  font-weight: normal;
  line-height: 1rem;
}

.header--back {
  display: flex;
  flex-direction: row;
}
.header--back__arrow {
  margin-left: 1rem;
}
.header--back__title {
  font-family: "shrikhand";
  margin: auto;
  font-size: x-large;
}

.hero--img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.menu--list {
  background-color: #f2f2f2;
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  z-index: 1;
  position: relative;
  width: 100%;
}
.menu--list__header {
  padding: 1rem 2rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.menu--list__title {
  font-family: "shrikhand";
  font-size: x-large;
}
.menu--list__heart {
  position: absolute;
}

.submenu--list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  height: 70px;
  width: 350px;
  background: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 1rem;
  box-shadow: 0 0.9px 2.2px rgba(0, 0, 0, 0.02), 0 2.2px 5.3px rgba(0, 0, 0, 0.028), 0 4.1px 10px rgba(0, 0, 0, 0.035), 0 7.4px 17.9px rgba(0, 0, 0, 0.042), 0 13.8px 33.4px rgba(0, 0, 0, 0.05), 0 33px 80px rgba(0, 0, 0, 0.07);
}

.textContainer {
  padding: 5px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0.5rem;
}

.desc {
  display: flex;
  justify-content: space-between;
}

h1 {
  margin: 0;
  padding: 0 0 3px 0;
  white-space: nowrap;
}

.title {
  margin-bottom: 1rem;
  position: relative;
}
.title:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: #98e2cf;
  bottom: 0;
  left: 0;
}

h4 {
  padding-bottom: 0.3rem;
  padding-left: 0.3rem;
}

.price {
  font-weight: bold;
  padding-right: 10px;
}

p {
  padding: 0;
  padding-left: 0.3rem;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: smaller;
}

.checkbox {
  height: 70px;
  width: 0;
  flex-shrink: 0;
  background-color: #99e2d0;
  overflow: hidden;
  white-space: nowrap;
  transition: all 0.4s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.checkbox .custom-checkbox {
  height: 30px;
  width: 30px;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}

.checkbox .custom-checkbox-icon {
  height: 30px;
  width: 30px;
  position: absolute;
  pointer-events: none;
  border-radius: 50%;
  border: 3px dotted #ffffff;
  text-align: center;
  line-height: 30px;
  transition: all 0.4s ease-in-out both;
}

.checkbox .custom-checkbox-icon::before {
  content: "✔";
  color: #ffffff;
  font-weight: bold;
  font-size: 1.5rem;
}

/*# sourceMappingURL=style.css.map */
