@use '../utils/variables' as v;
@use '../utils/mixins' as m;
@use '../utils/functions' as f;

// # // bouton "Explorer nos restaurants"
.hero__btn {
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
  background: linear-gradient(
    180deg,
    rgba(255, 122, 217, 1) 0%,
    rgba(146, 86, 220, 1) 100%
  );
  margin-bottom: v.$padding;
  &:visited {
    color: white;
  }
}

// # // Fonctionnement et tuto
.guide {
  &__list {
    counter-reset: li;
    list-style-type: none;

    &__step {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      background-color: f.tint(v.$grey, 90%);
      position: relative;
      padding: 20px 0 20px 30px;
      border-radius: 10px;
      width: 80vw;
      box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, 0.199);

      &:before {
        @include m.center-this;
        content: counter(li);
        counter-increment: li;
        color: white;
        font-size: small;
        height: 20px;
        width: 20px;
        background-color: v.$color-primary;
        border-radius: 50%;
        text-align: center;
        position: absolute;
        left: -10px;
      }
      &__desc {
        font-size: normal;
        margin: auto;
      }
      &__icon {
        color: f.shade(v.$grey, 20%);
      }
    }
  }
}
