@use '../utils/variables' as v;
%rest--card {
  .rest--card {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: relative;
    border-radius: 10px;
    margin-bottom: v.$padding;
    box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, 0.199);

    &__new--rest{
      position: absolute ;
      right: 1%;
      top: 5%;
      color: black;
      padding: 5px 5px 5px 5px ;
      background-color: v.$color-tertiary;
    }

    &__img {
      // display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 10px 10px 0 0;
    }
    &__imgcontainer {
      position: relative;
      overflow: hidden;
      height: 100%;
      max-height: 150px;

      //  object-position: center center;
    }
    &__desc {
      display: flex;
      flex-direction: column;
      padding-left: v.$padding;
      padding-top:v.$padding * 0.5 ;
      padding-bottom:v.$padding * 0.5;
    }
    &__fig {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
