@use '../utils/variables' as v;

.fav--heart {
  display: flex;
  position: relative;
  cursor: pointer;
  
}

.heart--full svg * {
  fill: url(#lgrad);
}

.heart--full {
  opacity: 0;
  transition: opacity 0.6s;
}

.heart--empty {
  transition: opacity 0.2s;
  color: v.$color-secondary;
}

.index__heart {
  position: absolute;
  left: -2rem;
  top: 1rem;
  font-size: larger;
  
}

.menu--list__heart {
  position: absolute;
  left: -2rem;
  top: -1rem;
  font-size: larger;
}
