@use '../utils/variables' as v;

.fav--heart {
  display: flex;
  position: relative;
  cursor: pointer;
  
}

.heart--full svg * {
  fill: url(#lgrad);
}

.heart--full {
  opacity: 0;
  transition: opacity 0.6s;
}

.heart--empty {
  transition: opacity 0.2s;
  // color: v.$color-secondary;
  color: rgba(0, 0, 0, 0.37);
}

.index__heart {
  position: absolute;
  left: -3rem;
  top: 1rem;
  // font-size: larger;
  @media screen and (min-width: 768px) {
    font-size: larger;
    left: -2rem;
  }
  
}

.menu--list__heart {
  position: absolute;
  left: -2rem;
  top: -0.7rem;
  font-size: larger;
}
