@use '../utils/variables' as v;
@use '../utils/functions' as f;
.header--back {
  display: flex;
  flex-direction: row;
  &__arrow {
    margin-left: v.$padding;
  }
  &__title {
    font-family: "shrikhand";
    margin: auto;
    font-size:larger;
  }
}

.hero--img {
  width: 100%;
  height: 25vh;
  object-fit: cover;
}

.menu--list {
    background: f.tint(v.$grey, 90%);
}