@use '../utils/variables' as v;
@use '../utils/functions' as f;

.header--back {
  display: flex;
  flex-direction: row;
  &__arrow {
    margin-left: v.$padding;
  }
  &__title {
    font-family: "shrikhand";
    margin: auto;
    font-size: larger;
  }
}

.hero--img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.menu--list {
  background-color: f.tint(v.$grey, 90%);
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  z-index: 1;
  position: relative;
  &__header {
    padding: 1rem 2rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
