@use '../utils/variables' as v;
@use '../utils/functions' as f;

.header--back {
  display: flex;
  flex-direction: row;
  &__arrow {
    margin-left: v.$padding;
  }
  &__title {
    font-family: "shrikhand";
    margin: auto;
    font-size: x-large;
  }
}

.hero--img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.menu--list {
  background-color: f.tint(v.$grey, 90%);
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  z-index: 1;
  position: relative;
  width: 100%;

  &__header {
    padding: 1rem 2rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: v.$padding;
  }
  &__title {
    font-family: "shrikhand";
    font-size: x-large;
  }
  &__heart {
    position: absolute;
  }
}
.submenu--list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// # // Configuration des éléments du menu avec checkin animation
.card {
  display: flex;
  height: 70px;
  width: 350px;
  // max-width: 350px;
  background: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: v.$padding;
  box-shadow: 0 0.9px 2.2px rgba(0, 0, 0, 0.02),
    0 2.2px 5.3px rgba(0, 0, 0, 0.028), 0 4.1px 10px rgba(0, 0, 0, 0.035),
    0 7.4px 17.9px rgba(0, 0, 0, 0.042), 0 13.8px 33.4px rgba(0, 0, 0, 0.05),
    0 33px 80px rgba(0, 0, 0, 0.07);
}

.textContainer {
  padding: 5px;

  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0.5rem;
}
.desc {
  display: flex;
  justify-content: space-between;
}

h1 {
  margin: 0;
  padding: 0 0 3px 0;
  white-space: nowrap;
}
.title {
  margin-bottom: v.$padding;
  position: relative;
  &:after{
    content : "";  
    position : absolute;  
    width : 40px;  
    height : 2px;  
    background-color: v.$color-tertiary;  
    bottom: 0; //to place it in bottom  
    left:0;
  
  }
}
h4 {
  padding-bottom: v.$padding * 0.3;
  padding-left: v.$padding * 0.3;
}
.price {
  font-weight: bold;
  padding-right: 10px;
}
p {
  padding: 0;
  padding-left: v.$padding * 0.3;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: smaller;
}

.checkbox {
  height: 70px;
  width: 0;
  flex-shrink: 0;
  background-color: #99e2d0;
  overflow: hidden;
  white-space: nowrap;
  transition: all 0.4s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.checkbox .custom-checkbox {
  height: 30px;
  width: 30px;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}

.checkbox .custom-checkbox-icon {
  height: 30px;
  width: 30px;
  position: absolute;
  pointer-events: none;
  border-radius: 50%;
  border: 3px dotted #ffffff;
  text-align: center;
  line-height: 30px;
  transition: all 0.4s ease-in-out both;
}

.checkbox .custom-checkbox-icon::before {
  content: "✔";
  color: #ffffff;
  font-weight: bold;
  font-size: 1.5rem;
}
