@use '../utils/variables' as v;
@use '../utils/functions' as f;

// # // header + back arrow to return to index
.header--back {
  display: flex;
  flex-direction: row;
  &__arrow {
    margin-left: v.$padding;
  }
  &__title {
    font-family: "shrikhand";
    margin: auto;
    font-size: x-large;
  }
}
// # // bandeau visuel représentant le restaurant
.hero--img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

// # // Box menu from header to footer
.menu--list {
  background-color: f.tint(v.$grey, 90%);
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  z-index: 1;
  position: relative;
  width: 100%;

  &__header {
    padding: 1rem 2rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: v.$padding;
  }
  &__title {
    font-family: "shrikhand";
    font-size: x-large;
  }
  &__heart {
    position: absolute;
  }
}
.submenu--list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// # // Configuration des éléments du menu avec checkin animation
.card {
  display: flex;
  height: 70px;
  width: 350px;
  // max-width: 350px;
  background: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: v.$padding;
  box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, 0.199);
  @media screen and (min-width: 768px) {
    width: 400px;
    height: 100px;
  }
}
// # // Cadre text titre desc et prix
.textContainer {
  padding: 5px;

  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0.5rem;
}
// # // Cadre description incluant p
.desc {
  display: flex;
  justify-content: space-between;
}
// # // Titre des sections du menu
.title {
  margin-bottom: v.$padding;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: v.$color-tertiary;
    bottom: 0; //to place it in bottom
    left: 0;
  }
}

// # // Titre du produit
h4 {
  padding-bottom: v.$padding * 0.3;
  padding-left: v.$padding * 0.3;
  @media screen and (min-width: 768px){
    padding-left: v.$padding * 0.5;
  }
  
}
// # // Description du produit
p {
  padding: 0;
  padding-left: v.$padding * 0.3;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: smaller;
  @media screen and (min-width: 768px){
    font-size: 0.8rem;
    margin-top: 1rem;
    padding-left: v.$padding * 0.5;
  }
}
//# // prix du produit
.price {
  font-weight: bold;
  padding-right: 10px;
}

.checkbox {
  height: 70px;
  width: 0;
  flex-shrink: 0;
  background-color: #99e2d0;
  overflow: hidden;
  white-space: nowrap;
  transition: all 0.4s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    height: 100px;
  }

  & .custom-checkbox {
    height: 30px;
    width: 30px;
    margin: 0;
    opacity: 0;
    cursor: pointer;
  }
  & .custom-checkbox-icon {
    height: 30px;
    width: 30px;
    position: absolute;
    pointer-events: none;
    border-radius: 50%;
    border: 3px dotted #ffffff;
    text-align: center;
    line-height: 30px;
    transition: all 0.4s ease-in-out both;
  }
  & .custom-checkbox-icon::before {
    content: "✔";
    color: #ffffff;
    font-weight: bold;
    font-size: 1.5rem;
  }
}
