// # // Animation de like "Heart--fav
@use '../utils/variables' as v;
.fav--heart:hover .heart--empty {
  opacity: 0;
}
.fav--heart:hover .heart--full {
  opacity: 1;
  animation: boom3x 250ms cubic-bezier(0.39, 0.575, 0.565, 1) 50ms 3 both;
}

@keyframes boom3x {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

// # // Animation bandeau nouveauté

.rest--card__new--rest {
  animation: blink 1.5s ease-in-out reverse infinite;
}

@keyframes blink {
  to {
    opacity: 0.3;
  }
}

// # // Loader animation

@keyframes fade--out {
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes bounce {
  to {
    width: 1rem;
    height: 1rem;
    transform: translate(0, -16px);
  }
}
@keyframes crunch {
  50% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    width: 4.8rem;
    opacity: 0;
  }
}

/*Trigger des animations 
** Elargissement de la boite checkbox
**animation checkin qui est l'état permettant le retour de de la checkbox icon
**Animation checkout qui est la réaction au Hover */

.card:hover .checkbox {
  width: 100px;
}
.card .custom-checkbox-icon {
  animation: checkin 0.4s ease-in-out both;
}
.card:hover .custom-checkbox-icon {
  animation: checkout 0.4s ease-in-out both;
}

/* Double état associés à l'animation pour avoir un effet hover et un retour statique */
@keyframes checkin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}

@keyframes checkout {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Check in and out de la commande client */
checkbox .custom-checkbox:checked ~ .custom-checkbox-icon {
  background-color: #ffffff;
}
.checkbox .custom-checkbox:checked ~ .custom-checkbox-icon::before {
  color: v.$color-primary;
}

// # // Menu loading

.anim--delay {
  &__x {
    opacity: 0;
    animation: fadein 2s ease-in-out 0.2s forwards;
  }
  &__y {
    opacity: 0;
    animation: fadein 2s ease-in-out 0.4s forwards;
  }
  &__z {
    opacity: 0;
    animation: fadein 2s ease-in-out 0.6s forwards;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// # // Commander opacity
.menu--list__btn {
  opacity: 0;
  animation: fadein 2s ease-in-out 0.7s forwards;
}