a {
    text-decoration: none;
  }
  // # // formalistion des liens
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } // # // pour éviter les soucis de bordures à recalculer