// # // pour éviter les soucis de bordures à recalculer
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  
} 
// # // Couleur héritée et décorations de lien supprimés
a {
  color: inherit;
  text-decoration: none;
  &:visited {
    color: inherit;
  }
}
